.birthday-banner {
  padding: 0 50px 10px;
}

.birthday-text {
  font-size: 20px;
}

@media (max-width: 476px) {
  .birthday-banner {
    padding: 20px 16px;
  }

  .celebrant {
    max-width: unset;

    .celebrant-image {
      height: auto;
    }
  }
}