.news {
  background-color: #fff;
  padding: 0 50px 10px;

  .news-title {
    width: max-content;
    background-color: #fff;
    margin-left: -60px;
    margin-bottom: 18px;
    padding: 10px 20px 10px 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    color: #000;
    font-family: Josefin Sans, serif;

    h2 {
      margin: 0;
      font-size: 30px;
    }
  }

  .text {
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #374047;
    margin-top: 20px;
    text-align: justify;
    font-family: Calibri, Arial, Helvetica, sans-serif;

    a {
      color: #ff6900;
      text-decoration: none;
    }
  }
}