header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;

  .header-image {
    text-align: center;
    flex: 1;

    img {
      height: 76px;
      width: auto;
    }
  }

  .title {
    font-family: 'Josefin Sans', serif;

    .date {
      text-transform: capitalize;
    }
  }
}

.header.container {
  margin-bottom: 30px;
}

h4 {
  margin-bottom: .5em;
  margin-top: 0;
  text-align: right;
}

@media (max-width: 990px) {
  header {
    flex-direction: column;
  }

  h4 {
    text-align: center;
  }
}