.upcoming-events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1em;
  padding-top: 20px;
  row-gap: 4em;

  .event {
    align-items: stretch;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    min-width: 350px;
    padding: 24px 16px 32px;
    transition: .3s ease;
    width: 40%;

    h4 {
      padding: 10px 0 20px;
      font-size: 22px;
      font-family: Josefin Sans, sans-serif;
    }

    p {
      color: #666666;
      font-size: 20px;
    }

    h4, p {
      margin: 0;
      text-align: left;
    }
  }
}

.event:hover {
  transform: scale(1.1);
  z-index: 1;
}

@media (max-width: 476px) {
  .upcoming-events .event {
    min-width: 85%;
  }
}
